.prindiv {
    width: auto;
    /* height: 52.65vmax; */
    height: auto;
}
.containerCards{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.filters {
    background-color: #457b9d ; 
    border-color: black;
    border-radius: 5px;
    display: inline-flex;
    align-items: center;
    color: blanchedalmond;
    font-weight: bold;
    padding: 5px 20px 5px 20px;
    font-family: 'Arvo', serif;
    margin: 25px 0px 15px 0px;
}

.select {
    border-radius: 5px;
    border-color: #07648f;
    padding: 3px;
    margin: 5px;
    font-weight: bold;
    font-family: 'Arvo', serif;
}

.paginado {

    display:flex;
    justify-content:center;
    margin: 0px;
    padding: 2px;
}
.buttRes{
    border-radius: 5px;
    border-color: #07648f;
    padding: 3px;
    margin: 5px;
}

.buttRes:hover {
    size:10px;
    background-color: #777396;
}