 body {
    height: 100%;
    width: 100%;
    background-image: url('C:\Users\Usuario\Desktop\CURSOS\HENRY\PI-Countries-main\client\src\components\Images\Landing.png');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 100%;
    margin: 0;
    padding: 0;
}
html{
    
font-family: 'Roboto', sans-serif;
}

.container {
    width: auto;
    height: 100vmax;
    background-repeat: no-repeat;
    background-position-x: center;
    align-content: center;
    justify-content: center;
    /* background-image: url('C:\Users\Usuario\Desktop\CURSOS\HENRY\PI-Countries-main\client\src\components\Images\Landing.png'); */
    /* background-color: #456990; */
}

.bar {
    background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0));
    align-items: center;
    justify-content: center;
    height: 120px;
    width: 100%;
    display: inline-flex;
}

.bothome {
    height: 50px;
    border-radius: 100%;
    background-color:#028090 ;
    cursor: grab;
        
}

.bothome:hover {
    height:70px
}

.form {
    border-radius: 3%;
    margin: 0.5px;
    background-color: rgba(132, 123, 123, 0.69);
    margin-left: 150px;
    margin-right: 150px;
  
    font-family: 'Roboto', sans-serif;
    /* min-height: 400px;
    width: fit-content;
    justify-content: center;
    align-items: center;
    padding: 35px;
    display: flex;
    flex-direction: row; */
    
}

.titleform {
    color: rgb(255, 255, 255);
    text-align: center;
}

.campos {
    color: rgb(255, 255, 255);
    text-align: right;
    font-size: large;
    margin: 5px;
    
font-family: 'Roboto', sans-serif;
}

.inputs {
    border-color: rgba(239, 236, 216, 0.69);
    border-radius: 4px;
    width: 250px;
    font-size: medium;
    color: rgb(7, 7, 7);
    margin-top: 5px;
    margin-bottom: 8px;
}

.buttonSubmit {
    font-weight: bold;
    font-size: x-small;
    padding: 4px;
    margin: 20px;
    font-family:'Verdana';
    background-color: antiquewhite;
    border-color: #07648f;
    color: #07648f;
    border-radius: 5px;
}

.buttonSubmit:hover {
    background-color: #FFCC33;
    border-color: rgb(235, 174, 19);
    color: rgb(131, 89, 33);
}

.conpais {
    display:inline-flex;
    flex-flow: row;
}

.mpais {
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: large;
    margin: 5px;
    font-weight: bold;  

}

.buttonDelete {
    display:flex;
    height: 20px;
    font-size: x-small;
    justify-content: end;
   
    justify-content: center;
    font-size: x-small;
    font-weight: bold;
    background-color: rgb(212, 191, 191);
    border-radius: 100%;
    border-width: 0ch;
    height: fit-content;
    width: fit-content;
}

.errors {
    font-size: small;
    color: red;
    margin: 3px;
}
.flag{
    height: 50px;

}

.jump{
    
        border: none;
        height: 1px;
        margin: 1px 0;
        background-color: transparent;
      }
      
    
