.navbar {
    align-items: center;
    height: 100px;
    width: 100%;
    display: inline-flex;
    justify-content: center;
    align-content: center;
}

/* .buttHome {
    height: 30px;
    border-radius: 100px;
}

.buttHome:hover {
    height: 99px;
    opacity: 90%;
} */

.buttActiv {
    justify-content: center;
    padding: 5px;
    border-radius: 5px;
    background-color: #ffffff;
    font-family: 'Arvo', serif;
    font-weight: 700;
    font-size:medium;
}

.buttActiv:hover {
    background-color: #456990;
    border-color: goldenrod;
    color: antiquewhite;
}

.search {
    padding: 5px;
    margin-top: 8px;
}

.searchTitle {
    color: #ffffff;
    font-family: 'Arvo', serif;
    font-weight: bolder;
    font-size: large;
}

.searchInput {
    border-radius: 5px;
    border-color: #FDC500;
    margin: 8px;
    padding: 3px;
}

.containerActivities {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;

}

.containerSearch {
    width: 33%;

}

